.container{
    padding:30px 0;
}

h1.text-light{
    margin-left: 50px;
}

i{
    margin-left: 10px;
}

a{
cursor: default;
}

input.form-control{
    border-radius: 20px;
}

.movie-body{
    max-width:100vh;
    text-align: center;
    border-style: solid;
    margin:20vh auto;
    height:50px;
    line-height: 2.5;
}

.box{
    max-width: 40vh;
    background-color: #43a805;
    padding: 10px;
    border-style: solid;
    border-color: #E8E8A6;
}

.rating{
    max-width: 40vh;
    background-color: #dcddba;
    padding: 10px;
    border-style: solid;
    border-color: #E8E8A6;
}

.title{
    color:red;
}

.plot{
    padding:10px;
}